body{
  text-align: center;
  margin: 0;
}

/*---------TOP-PAGE---------*/
.top_page{
  background-color: #c6fced;
  position: relative;
  padding-top: 100px;
}
.text{
  font-size: 5rem;
  color: #66BFBF;
  margin-bottom: 0;
  font-family: 'Niconne', cursive;
}
.sub-text{
  font-size: 30px;
  color: #66BFBF;
  font-family: 'Merriweather', serif;
  font-weight: 900;
}
.top_cloud{
  width: 15%;
position: absolute;
top:80px;
right:25%;
}
.bottom_cloud{
  width: 15%;
  position: absolute;
  top:330px;
  left:25%;
}

.mountain{
  width: 45%;
}
/*---------MIDDLE-PAGE---------*/

.hello{
  color: #66BFBF;
}

.profile-pic{
  height: 250px;
  width: 150px;
}

.machine{
  height: 200px;
  width: 200px;
  float: left;
  margin-right: 20px;
}

.web{
  height: 200px;
  width: 200px;
  float: right;
  margin-left: 20px;
}

.skills{
  width:50%;
  margin: 100px auto 200px auto;
}
.subject1{
  color: #11999E;
  margin-top: 100px;
}

.subject2{
  color: #11999E;
  margin-top: 20px;
}
.sub1{
  margin: 30px auto 170px auto;
}

/*---------BOTTOM-PAGE---------*/

.bottom-page{
  background-color: #c6fced;
  margin: 0 auto 0 auto;
  padding-top: 50px;
  padding-bottom: 10px;
}
a{
  color: #11999E;
  text-decoration: none;
}
